<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create new Group</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #3a8b8c;
            padding: 10px;
        }

        .navbar-brand {
            color: white;
            font-size: 24px;
            margin-right: 20px;
        }

        .navbar-brand:hover {
            color: rgba(255, 255, 255, 0.518)
        }


        .logout {
            margin-left: 400px;
            background-color: transparent;
            border: none;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .section-title {
            text-align: center;
            font-size: 36px;
            margin-top: 60px;
            margin-bottom: 20px;
        }

        .create-group {
            margin: auto;
            width: 50%;
        }

        .create-group-form {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .create-group-input {
            padding: 10px;
            border: 1px solid #3a8b8c;
            border-radius: 5px;
            font-size: 18px;
        }

        .create-group-button {
            padding: 10px;
            background-color: #3a8b8c;
            color: white;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="bt-container">
                <a class="navbar-brand" href="/site/menu">Foccacia Home Page</a>
                <a class="navbar-brand" href="/site/groups">All Groups</a>
                <a class="navbar-brand" href="/site/teams">All Teams</a>
                
            </div>
        </div>
    </nav>
    <div class="section">
        <div class="container"> 
            <h1 class="section-title">Create new Group</h1>
            <div class="create-group">
                <form method="POST" action="/site/groups/new" class="create-group-form">
                    <input type="text" name="name" value="" placeholder="Name" class="create-group-input">
                    <input type="text" name="description" value="" placeholder="Description" class="create-group-input">
                    <button type="submit" value="Create Group" class="create-group-button">Create Group</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>