
<!DOCTYPE html>
<html>

<head>
    <title>All Users</title>
</head>

<h1>Página de ERRO!</h1>
<form method="GET" action="/site/menu">
    <p><input type="submit" name="" value="Voltar ao MENU"></p>
</form>

<img src="https://www.pngkey.com/png/detail/147-1473883_404-error-404-not-found-png.png">
</html>